<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="d-flex justify-content-center align-items-center w-100">
        <!-- Left: Posts -->
        <div class="mx-4 d-flex align-items-center">
          <a class="nav-link" href="/posts/">Posts</a>
        </div>
  
        <!-- Center: Logo -->
        <div class="mx-4 d-flex align-items-center" style="display: flex; align-items: center;justify-content: center;">
          <a href="/">  
          <img src="/assets/HGRLogo4.png" alt="Holy Grail Ratings" height="125">
        </a>
        </div>
  
        <!-- Right: About -->
        <div class="mx-4 d-flex align-items-center">
          <a class="nav-link" href="/about.html">About</a>
        </div>
      </div>
    </div>
  </nav>